<div class="pagewrap" ng-show="deck.decks">
  
  <div class="deckbar">
    <div class="deckoptions">
          <a href="/decks/create"><em> Create A New Deck</em></a>
    </div>
    <div>
      <div class="decksearch col-lg-4 col-md-4 col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
  <br>
  <hr>

    <!--Loading Message-->
    <!-- <div class="jumbotron text-center" ng-show="deck.processing">
      <span class="glyphicon glyphicon-repeat spinner"></span>
      <p>Loading Users...</p>
    </div> -->

    <!-- Start Placing Decks -->
  <div class="deckpage row col-lg-4 col-md-6" ng-repeat = "thing in deck.decks">
    <div class="deckwrap">
      <div class="deckphoto">
        <img ng-src="{{ thing.pic }}">
      </div>
        <hr>
      <div class="deckinfo">
        <p class="deckname"><h3>{{ thing.name | uppercase}}</h3></p>
        <p class="deckcount"><em>{{ thing.cards.length}} cards</em></p>
        <p class="deckdescrip">{{ thing.description }}</p>
      </div>
      <div>
      <a class = "glyphicon glyphicon-eye-open" href="/decks/{{ thing._id }}"></a>
      <a ng-show = "thing.userId = main.currentUserId" class = "glyphicon glyphicon-pencil"   href="/decks/edit/{{ thing._id }} "></a>
      <a ng-show = "thing.userId=main.currentUserId" class = "glyphicon glyphicon-trash"    href="#" ng-click="deck.deleteDeck(thing._id)"></a>
      </div>
    </div>
    <hr>
  </div>

  <hr>

</div>