<div class="pagewrap">  

<!-- CURRENT DECK IDENTIFICATION -->
  <div class="row deckid"> 
    <div class="deckphoto col-lg-4">
      <img ng-src="{{ deck.deck.pic }}">
    </div>
    <div class="col-lg-8">  
      <h1>{{ deck.deck.name }}</h1>
      <p><em>{{ deck.deck.cards.length}} cards</em></p>
      <p>{{ deck.deck.description }}</p>

      <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"> <strong>Create a New Card</strong><br/>

      <div ng-show="checked">
        <div class="row col-sm-2 col-md-4 col-lg-6">
              <form class="form-group" ng-submit="deck.saveCard()">
                <div class="form-group">
                  <h1>Create New Card</h1>
                  <label>Front</label>
                  <input type="text" class="form-control" ng-model="deck.cardData.front">
                </div>
                <div class="form-group">
                  <label>Back</label>
                  <input type="text" class="form-control" ng-model="deck.cardData.back">
                </div>
                <div class="form-group">
                  <button type="submit"
                          class="btn btn-primary">Create Card</button>
                </div>
              </form>
            </div>
      </div>

    </div>
  </div>

  <!-- CARD CREATION MESSAGES -->
  <div class="row messages" ng-show="deck.cardMessage">
    <hr>   
      <div class="alert alert-info">
          {{ deck.cardMessage }}
      </div>   
    <hr>
  </div>


  <!-- LIST OF ALL CARDS IN DECK -->
    <div class="cardwrap col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" ng-repeat="card in deck.Cards">
      <div class="cardTop">
        <a href="#" class="glyphicon glyphicon-share-alt" ng-click="show = !show"></a>
      </div>

      <div class="cardFront" ng-hide="show">
        {{ card.front | uppercase}}
      </div>
      <div class="cardBack" ng-show="show">
        {{ card.back | uppercase}}
      </div>
      <div class="cardBottom">
        <div class="cardBottomLeft">
        <a href="#"
           ng-click="deck.deleteCard(card._id)"
           class="glyphicon glyphicon-trash"></a>
        </div>
        <div class="cardBottomRight">
        <a href="#"
           class="glyphicon glyphicon-thumbs-down"></a>
           <a href="#"
           class="glyphicon glyphicon-thumbs-up"></a>
        </div>
      </div>
    </div>
</div>

























