<div class="page-header">
  <h1>
    Cards
    <a href="/cards/create" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </h1>
</div>

<!--Loading Message-->
<div class="jumbotron text-center" ng-show="card.processing">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Loading Users...</p>
</div>
<table class="table table-bordered table-striped" ng-show="card.cards">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="col-sm-2"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="thing in card.cards">
      <td>{{ thing.name }}</td>
      <td>{{ thing.description }}</td>
      <td class="col-sm-2">
        <a ng-href="/cards/{{ thing._id }}" class="btn btn-primary">View</a>
        <a ng-href="/cards/edit/{{ thing._id }}" class="btn btn-danger">Edit</a>
        <a href="#"
          ng-click="card.deleteCard(thing._id)"
          class="btn btn-primary">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
