<div class="row col-sm-6 col-sm-offset-3">
  <div class="jumbotron">
    <h1 ng-if="user.type == 'create'">Create User</h1>
    <h1 ng-if="user.type == 'edit'">Edit User</h1>
    <form class="form-horizontal" ng-submit="user.saveUser()">
      <!-- USERNAME INPUT -->
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="user.userData.name">
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" ng-model="user.userData.email">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="user.userData.username">
      </div>
      <!-- PASSWORD INPUT -->
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="user.userData.password">
        <br>
        <a class="sign_up" href="/login">Already have an accout? Go Login!</a>
        <br>
        <br>
      
        <button type="submit"
                class="btn btn-primary"
                ng-if="user.type == 'create'">Create User</button>
        <button type="submit"
                class="btn btn-primary"
                ng-if="user.type == 'edit'">Update User</button>
      </div>

    </form>
    <div class="row" ng-show="user.message">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="alert alert-info">
          {{ user.message }}
        </div>
      </div>
    </div>
  </div>
</div>
