<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- For angular routing -->
	<base href="/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel = "stylesheet" href="/main.css">
	<!-- Libraries -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.js"></script>
	<!-- Controllers -->
	<script src="controllers/mainCtrl.js"></script>
	<script src="controllers/userCtrl.js"></script>
	<!-- Services -->
	<script src="services/authService.js"></script>
	<script src="services/userService.js"></script>
	<!-- main file -->
	<script src="app.routes.js"></script>
	<script src="app.js"></script>
	<title></title>
</head>
<body ng-app="flashcardApp" ng-controller="mainController as main">
<!-- Navbar -->
<header>

		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><em>FlashStack</em></a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="/users">Profile</a></li>
		        <li><a href="/deck">Decks</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li ng-if="main.loggedIn" class="navbar-text">{{ main.user.name }}</li>
		        <li ng-if="!main.loggedIn"><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
		        <li ng-if="!main.loggedIn"><a href="/login"><span class="glyphicon glyphicon-user"></span> No Account? Sign Up</a></li>
		        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Sign Up</a></li> -->
		        <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>

</header>
<main>
	<div ng-view></div>
</main>
</body>
</html>
