<div class="pagewrap">

	<!-- USER PHOTO/INFO -->
	<div class="usershow row">
			<div class="userphoto col-lg-4">
				<img class="img-thumbnail img-responsive" alt="Profile Photo" src="assets/img/userThumb.png">
			</div>
			<br>
			<div class="userstats col-lg-4">
				<p class="username">{{ user.user.username | uppercase }}</p>
				<p class="userinfo">Age: {{ user.user.age }}</p>
				<p class="userinfo"><em>"I don't have a 9 - 5. I have a when I open my eyes to when I close them."</em></p>
			</div>
	</div>

	<!-- TABS -->

	<div class="runner">
  		<ul class="nav nav-tabs nav-justified">
		  <li role="presentation" class="active"><a href="#"><h3>My Stacks</h3></a></li>
		  <li role="presentation"><a href="/decks"><h3>All Stacks</h3></a></li>
		  <li role="presentation"><a href="/decks/create"><h3>Create Stack</h3></a></li>
		</ul>
		<div class="deckpage row col-lg-4 col-md-6" ng-repeat = "thing in user.mydecks">
		    <div class="deckwrap">
		      <div class="deckphoto">
		        <img ng-src="{{ thing.pic }}">
		      </div>
		        
		      <div class="deckinfo">
		        <p class="deckname"><h3>{{ thing.name | uppercase}}</h3></p>
		        <p class="deckcount"><em>{{ thing.cards.length}} cards</em></p>
		        <p class="deckdescrip">{{ thing.description }}</p>
		      </div>
		      <div>
		      <a class = "glyphicon glyphicon-eye-open" href="/decks/{{ thing._id }}"></a>
		      <a class = "glyphicon glyphicon-pencil"   href="/decks/edit/{{ thing._id }} "></a>
		      <a class = "glyphicon glyphicon-trash"    href="#" ng-click="deck.deleteDeck(thing._id)"></a>
		      </div>
		    </div>
    		
  		</div>

  	

	</div>

</div>