<div class="userwrap">
	<div class="usershow row">
		<!-- <div class="row"> -->
			<div class="userphoto col-lg-4">
				<img class="img-thumbnail img-responsive" alt="Profile Photo" src="assets/img/userThumb.png">
			</div>
		<!-- </div> -->
		<br>
		<!-- <div class="row row-centered"> -->	
			<div class="userstats col-lg-4">
				<p class="username">{{ user.user.username | uppercase }}</p>
				<p class="userinfo">Age: {{ user.user.age }}</p>
				<p class="userinfo"><em>"I don't have a 9 - 5. I have a when I open my eyes to when I close them."</em></p>
			</div>
		<!-- </div> -->
	</div>


	<div class="runner">

		<div class="decktabs">
		    <ul class="nav nav-tabs">
		        <li class="active"><a href="#">My Decks</a></li>
		        <li><a href="#">Other Decks</a></li>
		    </ul>
		</div>

	</div>

	<div class="deckrepeat">
		<div class="decks" ng-repeat="deck in user.mydecks">{{ deck.name }}</div>
	</div>
</div>