.spinner {
  animation:spin 1s infinite;
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to   { transform:rotate(360deg);}
}

@-webkit-keyframes spin {
  from { -webkit-transform:rotate(0deg);}
  to   { -webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin {
  from { -moz-transform:rotate(0deg);}
  to   { -moz-transform:rotate(360deg);}
}

body {
	/*background-image: url('../img/tabletBG.jpg');*/
	background-size: cover;
}

/*NAVBAR=======================================*/

.navbar-inverse {
	width: 75%;
	margin: 0 auto;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	font-family: 'Open Sans';
}
.navbar-inverse .navbar-brand {
    color: #2980B9;
    font-weight: 600;
    font-size: 2em;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #3498DB;
}
.navbar-inverse .navbar-nav > li > a {
    color: #BDC3C7;
    font-weight: 400;
    font-size: 1.3em;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ECF0F1;
}

.navbar-inverse .navbar-toggle {
    border-color: #2980B9;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #2980B9;
}
.navbar-inverse .navbar-nav .navbar-right {

}

/*NAVBAR=======================================*/

#wrapper {
	/*background-color: #ECF0F1;*/
	width: 95%;
	height: 95%;
	margin: 0 auto;
	/*padding: 0 10%;*/
}

/*JUMBOTRON===================================*/

.jumbotron {
	/*background: rgba(0, 184, 241, .8);*/
	padding: 70px 100px 100px 65px;
	width: 70%;
	margin: 15% auto 0 auto;
	color: #2980B9;
}

.jumbotron h1 {
	font-family: 'Open Sans';
	font-weight: 600;
}

.jumbotron label {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

.sign_up {
	font-weight: 400;
	font-style: italic;
	font-size: 1.3em;
	color: #3498DB;
	line-height: 1.3em;
}

/*USER-PROFILE===================================*/
.userwrap {
	width: 75%;
	margin: 0 auto;
}
.usershow {
	/*box-shadow: inset 0 0 5em 1em rgba(0, 0, 0, 0.1);
	background: #2980B9;*/
	padding: 50px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Open Sans';
}
.usershow .userstats {
	font-family: 'Roboto Slab';
	font-style: serif;
	text-align: left;
	font-size: 1.3em;
}
.usershow .userphoto {
	/*text-align: center;*/
}
.username {
	font-weight: 600;
	font-size: 3em;
	color: #ECF0F1;
}
.userinfo {
	font-family: 'Open Sans';
	font-size: 1.5em;
	font-weight: 400;
	/*line-height: .7em;*/
	color: #BDC3C7;
}
.runner {
	background-image: url('../img/geometry2.png');
	background-repeat: repeat;
	height: 25em;
}
.deckrepeat {

}













